[color]
  ui = true
[core]
  editor = nvim -u ~/.config/nvim/init-light.lua
  excludesfile = ~/.global-ignore
  pager = less -F -R
[includeIf "gitdir:~/dotfiles/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/projects/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/personal/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig-work
[pull]
  rebase = true
