[color]
  ui = true
[core]
  editor = vim
  excludesfile = ~/.global-ignore
[includeIf "gitdir:~/dotfiles/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/projects/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/personal/"]
  path = ~/.gitconfig-personal
