# Ignore everything
/*
!.gitignore

# Except these dotfiles
!.vimrc
!.tmux.conf
!.gitconfig
!.bashrc
!.gitattributes
!.global-ignore
!.zshrc

# Whitelist only the nvim directory under .config
!/.config/
/.config/*
!/.config/nvim
